<div class="datingContainer">
  <div class="datingSpace">
    <div class="imageContainer">

    </div>
    <div class="infoContainer">
      <div class="name">
        <p>name</p>
      </div>
      <div class="lastName">
        <p>last name</p>
      </div>
      <div class="city">
        <p>city</p>
      </div>
      <div class="age">
        <p>age</p>
      </div>
      <div class="email">
        <p>e-mail</p>
      </div>
    </div>
  </div>
  <div class="datingButtons">
    <div class="hotButtonContainer">
      <button class="hotButton">Hot</button>
    </div>
    <div class="notButtonContainer">
      <button class="notButton">Not</button>
    </div>
  </div>
</div>
