<div class="datingContainer">
  <div class="roundingContainer">
    <div class="imageContainer">
      <img src={{currentUserInfo?.picture?.large}} alt="user picture">
    </div>
    <div class="infoContainer">
      <div class="nameAgeInfo">
        {{currentUserInfo?.name?.first}}, {{currentUserInfo?.dob?.age}}
      </div>
      <div class="descriptionInfo">
        {{currentUserInfo?.location?.city}}, {{currentUserInfo?.gender}}
      </div>
    </div>
  </div>
  <div class="buttonsContainer">
    <div class="notButton">
      <button class="notButtonStyle" (click)="getNewUser()">Not</button>
    </div>
    <div class="hotButton">
      <button class="hotButtonStyle" (click)="getNewUser()">Hot</button>
    </div>
  </div>
</div>
