<div class="datingContainer">
  <div class="datingSpace">
    <ng-container *ngIf="currentUserInfo">
    <div class="imageContainer">
      <img src={{currentUserInfo.picture.large}}>
    </div>

    <div class="infoContainer">
      <div class="name">
        <p>name: {{currentUserInfo.name.first}}</p>
      </div>
      <div class="lastName">
        <p>last name: {{currentUserInfo.name.last}}</p>
      </div>
      <div class="city">
        <p>city: {{currentUserInfo.location.city}}</p>
      </div>
      <div class="age">
        <p>age: {{currentUserInfo.dob.age}}</p>
      </div>
      <div class="email">
        <p>e-mail: {{currentUserInfo.email}}</p>
      </div>
    </div>
  </ng-container>
  </div>
  <div class="datingButtons">
    <div class="hotButtonContainer">
      <button class="hotButton" (click)="getNewUser()">Hot</button>
    </div>
    <div class="notButtonContainer">
      <button class="notButton" (click)="getNewUser()">Not</button>
    </div>
  </div>
</div>
